.filter {
    width: 100%;
    float: left;
    clear: both;
}

.filter select {
    width: 20%;
}

.word_list {
    width: 100%;
    float: left;
}

.expandable {
}

.dragContainer {
    width: 40px;
    height:40px;
    padding:4px;
    background: darkred;
    margin: 10px;
    float:left;
}

.drag {
    padding:4px;
    background: red;
}

.clr {
    clear: both;
}