<!doctype html>
<html class="no-js" ng-app="apuokasApp" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Apuokas</title>
    <link rel="stylesheet" href="css/foundation.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <script src="jslib/modernizr.js"></script>
</head>
<body ng-controller="homeCtrl">
<header>
    <div class="row">
        <div class="large-12 columns">
            <h1>Apuokas</h1>
        </div>
    </div>
</header>
<div class="row">
    <div>{{hello}}</div>
    <div>Filtruoti: <input ng-model="query"></div>
    <div class="filter">
        Rikiuoti:
        <select ng-model="filtras">
            <option value="zodis.zodis">Alphabetical</option>
            <option value="zodynas.irasai.length">ilgiausias</option>
        </select>
    </div>

    <div>
        zodziu kiekis: {{zodynas.irasai.length}}
    </div>
    <div class="row">
        <ul class="" ng-repeat="zodziai in zodynas.irasai | filter: query |orderBy: filtras">
            <li>
                <ul>
                    <li ng-repeat="zodis in zodziai.zodis">
                        <h4>{{zodis}}</h4>
                    </li>
                </ul>
            </li>

            </ul>
            <div class="view-container">
                <div ng-view class="view-frame"></div>
            </div>
    </div>
</div>
<script src="jslib/jquery.js"></script>
<script src="jslib/angular.js"></script>
<script src="jslib/angular-route.js"></script>
<script src="jslib/foundation.min.js"></script>
<script src="index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-resource.min.js"></script>
<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script src="http://firebase.github.io/angularFire/angularFire.js"></script>
<script src="views/home.js"></script>
<!--<script src="views/project.js"></script>-->
<script>
    $(document).foundation();
</script>
</body>
</html>
