<!doctype html>
<html class="no-js" ng-app="apuokasApp" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Apuokas</title>
    <link rel="stylesheet" href="css/foundation.css"/>
    <script src="jslib/modernizr.js"></script>
</head>
<body ng-controller="homeCtrl">
<header>
    <div class="row">
        <div class="large-12 columns">
            <h1>Apuokas</h1>
        </div>
    </div>
</header>
{{hello}}
Search: <input ng-model="query">
Sort by:
<select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="age">Newest</option>
</select>
<ul>
</ul>
Raidziu kiekis {{modules.length}}
<div class="row">
    <table class="table table-bordered" ng-repeat="module in ocw.modules">
        <tr>
            <td>
                <h3 class="moduletitle">{{ module.title }}</h3>
                <h4>Zodis</h4>
                <p>{{ module.zodis }}</p>
            </td>
        </tr>
        <tr ng-repeat="week in module.raides">
            <td>
                {{ week.title }}
            </td>
        </tr>
    </table>
    <div class="view-container">
        <div ng-view class="view-frame"></div>
    </div>
</div>

<script src="jslib/jquery.js"></script>
<script src="jslib/angular.js"></script>
<script src="jslib/angular-route.js"></script>
<script src="jslib/foundation.min.js"></script>
<script src="index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-resource.min.js"></script>
<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script src="http://firebase.github.io/angularFire/angularFire.js"></script>
<script src="views/home.js"></script>
<!--<script src="views/project.js"></script>-->
<script>
    $(document).foundation();
</script>
</body>
</html>
