<div class="wrap">
    <div>
        Filtruoti: <input ng-model="query">
    </div>
    <div class="filter">
        Rikiuoti:
        <select ng-model="filtras">
            <option value="zodis.zodis">Alphabetical</option>
            <option value="zodynas.irasai.length">ilgiausias</option>
        </select>
    </div>

    <div>
        Zodziu kiekis: {{zodynas.irasai.length}}
    </div>
    <div class="row">
        <ul class="" ng-repeat="zodziai in zodynas.irasai | filter: query |orderBy: filtras">
            <li>
                <ul>
                    <li ng-repeat="zodis in zodziai.zodis">
                        <h4>{{zodis}}</h4>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>
