<div ng-controller="oneCtrl">
    <div class="" ng-repeat="zodziai in zodynas.irasai">
        <div class="word_expand" ng-repeat="zodis in zodziai.zodis">
            <div ng-repeat="raide in zodis" class="btn btn-droppable" style="width: 40px; height:40px; padding:4px; background: darkred; margin: 10px;" data-drop="true" jqyoui-droppable="{index: {{$index}}}" ng-model="raide">
                <div class="btn btn-info btn-draggable" data-drag="true" style="padding:4px; background: red;" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}}, placeholder:true,animate:true}" ng-model="raide">{{raide}}</div>
            </div>
        </div>
    </div>
</div>