<div ng-controller="oneCtrl">

    <div ng-repeat="zodziai in zodynas.irasai">
        <div ng-repeat="raide in zodziai.raides" ng-switch="raide.empty">
            <div ng-switch-when="true" class="dragContainer" data-drop="true" jqyoui-droppable="{index: {{$index}}}" ng-model="zodis"></div>
            <div ng-switch-when="false" class="dragContainer">
                {{raide.pav}}
            </div>
        </div>
        <div class="clr"></div>

        <div ng-repeat="raide in zodziai.trukstamosRaides" class="dragContainer" data-drop="false" jqyoui-droppable="{index: {{$index}}}" ng-model="zodis">
            <div class="drag" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}}, placeholder:true,animate:true}" ng-model="zodis">
                {{raide.pav}}
            </div>
        </div>

        <div class="clr"></div>

    </div>
    <div class="clr"></div>
</div>